* {
    padding: 0;
    margin: 0;
}


root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #dfecf1;
    font-size: small;
    background-image: url(.../images/movies.jpg);
}

a {
    color: #e33b06;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
}

nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
}

nav ul li:hover {
    background: #3a4f54;
}

/*Agregamos margenes inferiores a los parrafos*/
p {
    margin-bottom: 20px;
}
.contenido {
    padding-top: 80px;
    color: #ffffff;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
}

.centrar{
    text-align: center;
}

.aligderecha{
    float:right;
}

